@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #13151d;
    color:aliceblue;
}
ul{
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #212534;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 16px rgb(0, 0, 0);
    /* border-top: solid 2px rgb(1, 187, 41); */
    border-radius: 9px;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(1, 90, 1);
}
.posts{
    padding: 3em;
    margin-top: 30px;
}
.title{
    background-color: rgb(2, 1, 19);
    margin: 1em;
    padding: 1em;
}
.text{
    margin-bottom: 2em;
    padding: 1em;
}