@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Noto Sans", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #13151d;
  color: aliceblue;
}

.mlist {
  font-style: italic;
  list-style-type: none;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #13151d;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 16px rgb(0, 0, 0);
  /* border-top: solid 2px rgb(1, 187, 41); */
  border-radius: 9px;
}
.navItem {
  float: left;
}
.navItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
}
.navItem a:hover {
  background-color: blueviolet;
}
.box {
  height: 1400px;
  border: solid 2px rgb(16, 167, 255);
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 4em;
  padding: 2em;
  box-shadow: 0 0 16px rgb(0, 0, 0);
}

.cradit {
  text-align: center;
  font-style: italic;
}

img{
  margin-top: 1em;
  height: 300px;
}
.pcimgdiv{
  text-align: center;
}
.discreption{
  padding-top: 20px;
  padding-bottom: 20px;
}
i{
  color: aqua;
  font-size: 30px;
}
.buildList{
  text-align: center;
}
.box a:hover{
  color: blueviolet;
}