@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}
h1{
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}
h2{
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #FB667A;
}
h2 a{
    font-size: 1em;
    text-decoration: none;
    border-bottom: 2px solid #FB667A;
    text-transform: uppercase;
    color: #FB667A;
}
.blue{ color: #185875;}
.yellow{ color: yellow;}

.container {
    text-align: center;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}
.container th h1{
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color:#4DC3FA;
}
.container td {
    font-weight: normal;
    font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	    box-shadow: 0 2px 2px -2px #0E1119;
}
.container td,.container th{
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}
.container tr:nth-child(odd) {
	  background-color: #323C50;
}
.container tr:nth-child(even) {
	  background-color: #2C3446;
}
.container th {
	  background-color: #1F2739;
}
.container td:first-child { color: #c7d2ff; }
.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}
.container td:hover {
  background-color: #48ff42;
  color: #000000;
  font-weight: bold;
  
  box-shadow: #0c6920 -1px 1px, #0c6920 -2px 2px, #0c6920 -3px 3px, #0c6920 -4px 4px, #0c6920 -5px 5px, #0c6920 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

form {
    text-align: center;
    margin: 1em;
}
input {
    color: aliceblue;
    display: inline-block;
    border: none;
    padding: 10px;
    background-color: #2C3446;
    border-bottom: 3px solid #A7A1AE;
    border-width: 2px;
    transition-duration: 0.4s;
}
input:hover{
    border-color: #48ff42;
    background-color: #3f4a64;
}
.btn{
    text-align: center;
}
button {
    text-decoration: none;
    font-size: larger;
    background-color: #1F2739;
    height: 40px;
    width: 100px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
}
.button1 {
    color: #c7d2ff; 
    border: 2px solid #2C3446;
}
.button1:hover {
    background-color: #48ff42;
    color: black;
}
input:focus {
  outline: none;
}
